name: NodeCI

on:
  push:
    # tags:
    #   - v*

env:
  NAPI_VERSION: 7
  BINDING_NAME: freetype2
  MACOSX_DEPLOYMENT_TARGET: "10.13"

permissions:
  contents: read

jobs:
  build-and-test:
    name: Build ${{ matrix.docker-arch || matrix.arch }} on ${{ matrix.docker-image || matrix.os }} ${{ matrix.libc }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          # windows
          - os: windows-2022
            arch: x64
            is-native: true
          - os: windows-2022
            arch: ia32
            is-native: false
          - os: windows-11-arm
            arch: arm64
            is-native: true
            node-version: 20.x # 18.x is missing the arm64 node.lib
          # macos
          - os: macos-latest
            arch: arm64
            is-native: true
          - os: macos-latest
            arch: x64
            is-native: false
          # linux
          - os: ubuntu-latest
            arch: x64
            is-native: true
            docker-arch: linux/amd64
            docker-image: node:22-bullseye
          # linux-libc
          - os: ubuntu-24.04-arm
            arch: arm64
            is-native: true
            docker-arch: linux/arm64
            docker-image: node:22-bullseye
          - os: ubuntu-24.04-arm
            arch: arm
            is-native: false
            docker-arch: linux/arm/v7
            docker-image: node:22-bullseye
          # linux-musl
          - os: ubuntu-latest
            arch: x64
            is-native: false
            docker-arch: linux/amd64
            docker-image: node:22-alpine
            libc: musl

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Setup Node.js
        if: ${{ !matrix.docker-arch }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version || '18.x' }}

      - name: rebuild
        if: ${{ !matrix.docker-arch }}
        shell: bash
        run: |
          corepack enable

          yarn

          if [ -n "${{ matrix.is-native }}" ]; then
            yarn test
          fi

          yarn run rebuild --arch=${{ matrix.arch }}
          yarn pkg-prebuilds-copy --baseDir build/Release --source $BINDING_NAME.node --name=$BINDING_NAME --strip --napi_version=$NAPI_VERSION --arch=${{ matrix.arch }} --libc=${{ matrix.libc }}
        env:
          CI: true
          npm_config_build_from_source: true

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        if: ${{ matrix.docker-arch && env.dockerhub_username != '' }}
        env:
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        if: matrix.docker-arch
      - name: Pre-fetch image
        if: matrix.docker-arch
        run: docker pull ${{ matrix.docker-image }} --platform=${{ matrix.docker-arch }}
      - name: rebuild (in docker)
        uses: addnab/docker-run-action@v3
        if: matrix.docker-arch
        with:
          image: ${{ matrix.docker-image }}
          # shell: bash
          options: --platform=${{ matrix.docker-arch }} -v ${{ github.workspace }}:/work -e CI=1 -e npm_config_build_from_source=1 -e NAPI_VERSION -e BINDING_NAME
          run: |
            if command -v apt-get &> /dev/null
            then
              apt-get update
              apt-get install -y python3
            elif command -v yum &> /dev/null
            then
              curl -sL https://rpm.nodesource.com/setup_18.x | bash -
              dnf install -y gcc-toolset-11-toolchain make git python3 nodejs fontconfig google-noto-sans-fonts
              export PATH=/opt/rh/gcc-toolset-11/root/usr/bin:$PATH
            fi

            cd /work

            corepack enable

            # try and avoid timeout errors
            yarn config set httpTimeout 100000

            yarn
            yarn # run twice to avoid issues with armv7 running out of memory
            yarn test
            yarn pkg-prebuilds-copy --baseDir build/Release --source $BINDING_NAME.node --name=$BINDING_NAME --strip --napi_version=$NAPI_VERSION --arch=${{ matrix.arch }} --libc=${{ matrix.libc }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ${{ runner.os }}-${{ matrix.arch }}-${{ matrix.libc }}-prebuilds
          path: prebuilds
          retention-days: 1

  bundle:
    name: Bundle prebuilds
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v7
        with:
          path: tmp

      - name: Display structure of downloaded files
        run: |
          mkdir prebuilds
          cp -R tmp/*/* prebuilds/

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: all-prebuilds
          path: prebuilds
          retention-days: 7

  publish:
    name: Publish to npm
    needs: bundle
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    # only run for tags
    if: contains(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Use Node.js 24.x
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: Check release is desired
        id: do-publish
        run: |
          corepack enable

          PUBLISHED_VERSION=$(yarn npm info --json . | jq -c '.version' -r)
          THIS_VERSION=$(node -p "require('./package.json').version")
          # Simple bash helper to comapre version numbers
          verlte() {
            [  "$1" = "`echo -e "$1\n$2" | sort -V | head -n1`" ]
          }
          verlt() {
            [ "$1" = "$2" ] && return 1 || verlte $1 $2
          }
          if verlt $PUBLISHED_VERSION $THIS_VERSION
          then
            echo "Publishing latest"
            echo "tag=latest" >> $GITHUB_OUTPUT
          else
            echo "Publishing hotfix"
            echo "tag=hotfix" >> $GITHUB_OUTPUT
          fi

      - name: Prepare build
        if: ${{ steps.do-publish.outputs.tag }}
        run: |
          corepack enable
          yarn install
        env:
          CI: true
      - uses: actions/download-artifact@v7
        with:
          name: all-prebuilds
          path: prebuilds
      - name: Publish to NPM
        if: ${{ steps.do-publish.outputs.tag }}
        run: |
          npm publish --access=public --tag ${{ steps.do-publish.outputs.tag }} --provenance

          NEW_VERSION=$(node -p "require('./package.json').version")
          echo "**Published:** $NEW_VERSION" >> $GITHUB_STEP_SUMMARY
        env:
          CI: true
